SQL (strucured quesry language) is a standard language for managing and realtional databases. SQLite is a self-contained,serveless,and zero-configuration database engine that is widely used for embedded database system

In [48]:
import sqlite3

In [49]:
#connect to an sqlite
connection = sqlite3.connect('example.db')
connection

In [50]:
cursor = connection.cursor()

In [51]:
cursor.execute('DROP TABLE IF EXISTS employees')
connection.commit()

cursor.execute('''
    CREATE TABLE employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
''')
connection.commit()

In [52]:
cursor.execute('''
    select * from employees
''')

In [55]:
# Insert data with different values for each row
cursor.execute('''
Insert Into employees(name, age, department)
values('Krish', 32, 'Software Engineer')
''')

cursor.execute('''
Insert Into employees(name, age, department)
values('Bob', 40, 'Product Manager')
''')

cursor.execute('''
Insert Into employees(name, age, department)
values('Charlie', 35, 'Data Analyst')
''')

# Commit the changes to the database
connection.commit()

In [56]:
#quering the data from table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the data
for row in rows:
    print(row)

(1, 'Krish', 32, 'Software Engineer')
(2, 'Bob', 40, 'Product Manager')
(3, 'Charlie', 35, 'Data Analyst')

In [57]:
#update data in the table 

cursor.execute('''
UPDATE employees
set age = 53
where name = 'Krish'       
''')

connection.commit()

In [58]:
#quering the data from table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the data
for row in rows:
    print(row)

(1, 'Krish', 53, 'Software Engineer')
(2, 'Bob', 40, 'Product Manager')
(3, 'Charlie', 35, 'Data Analyst')

In [59]:
# Delete the data from the table
cursor.execute('''
DELETE from employees
               where name = 'Krish'
''')

In [60]:
#quering the data from table 
cursor.execute('select * from employees')
rows = cursor.fetchall()

#print the data
for row in rows:
    print(row)

(2, 'Bob', 40, 'Product Manager')
(3, 'Charlie', 35, 'Data Analyst')

In [61]:
##close the connection
connection.close()