# Label Encoding

label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data.

lable encoding involves assisgn a unique numerical label to each category in the variable.the labels are usually assigned in alphabetic order or based on the frequency of the categoriacal variable 'color' with three possible values(red,green,blue), we can represent it using label encoding as follow:

1.Red:1

2.Green:2

3.Blue:3

In [1]:
#create a df
import pandas as pd

In [2]:
df = pd.DataFrame({
    'color': ['red','green','blue','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1  green
2   blue
3  green
4    red

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lbl_encoder = LabelEncoder()

In [7]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\RAHUL JOSHI\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 1, 2, 0])

In [9]:
lbl_encoder.transform([['red']])

c:\Users\RAHUL JOSHI\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [11]:
lbl_encoder.transform([['blue']])

c:\Users\RAHUL JOSHI\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

## ordianl encoding

It is used to encode categorical data that have an intrinsic order or ranking.In this techqiue each categorical is assigned a numerical value based on its position in the order.For example,if we have a categorical variable "education level" with four possible values(high school,college,graduaute,post-graduate),we can repersent it using ordinal encoding as follow:

1.High school:1

2.College:2

3.Graduate:3

4.post-graduate:4

In [12]:
import pandas as pd

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
df = pd.DataFrame({
    'size' : ['small','medium','large','small','large']
})

In [16]:
df

     size
0   small
1  medium
2   large
3   small
4   large

In [17]:
## create an instance of ordinalEncoder and then fit_transform......
ord_encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [19]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.]])